# Compiled Go binaries and executables
*.exe
*.exe~
*.dll
*.so
*.dylib
*.bin
*.o
*.a
*.out

# Go build directories
/bin/
/pkg/

# Dependency directories (remove the vendor directory if your project uses it)
/vendor/

# Error logs
*.log

# Output of the go coverage tool
*.cover

# External tool files (e.g., "node_modules" if you're using Node.js in conjunction with Go)
node_modules/

# JetBrains IDEs (e.g., GoLand, IntelliJ)
.idea/
*.iml

# Visual Studio Code
.vscode/
*.code-workspace

# Eclipse
.classpath
.project
.settings/

# Vim
*.swp
*.swo

# Emacs
*~

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
Desktop.ini

# Linux specific
.directory

# Other files and directories to ignore
tmp/
temp/
